/* GENERAL */

body {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  max-width: 1400px;
  margin: 0 auto;
}

hr {
  background-color: #7d7d7d;
  height: 2px;
}

h1 {
  font-size: 2.5rem;
  color: #3c368c;
  text-align: center;
  margin: 20px;
}

/* HEADER */

header {
  background-color: #f5f5f5;
}

.logo-icons {
  height: 80px;
  align-items: center;
  cursor: pointer;
}

.logo-icons img {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}

.icons {
  display: flex;
  justify-content: right;
  align-items: center;
}

.icons  i {
  padding-right: 20px;
}

.fa-bars {
  display: none !important;
}

.menu {
  color: #a4a3a3;
  justify-content: space-evenly;
  padding-bottom: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}

.options:hover {
  color: #0075be;
}

@media screen and (max-width: 800px) {
  .fa-bars {
    display: block !important;
    /* padding-left: 20px; */
  }

  .menu {
    display: none !important;
  }
}

/* BANNER */

#banner {
  width: 100%;
  position: relative;
}

#container-banner {
  position: relative;
}

.img-banner {
  position: relative;
  height: 500px;
  width: 100%;
}

.computer {
  position: absolute;
  bottom: -40px;
  right: 40px;
}

.text-banner {
  position: absolute;
  top: 10%;
  left: 5%;
  line-height: 300%;
}

#tech {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

#primavera {
  font-size: 1.875rem;
  color: #ccc;
}

#digital {
  font-size: 1.25rem;
  font-style: italic;
  color: #fff;
}

#button-info {
  line-height: 600%;
  border: 1px solid black;
  border-radius: 40px;
  padding: 10px;
  color: #f5f5f5;
  background-color: #f16248;
  font-weight: 700;
  text-decoration: none;
}

#button-info:hover {
  background-color: #c8c8c8;
  color: #252525;
}

@media screen and (max-width: 1100px) {
  .computer {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  #banner {
    text-align: center;
  }

  .img-banner {
    height: 320px;
  }

  #tech {
    font-size: 2.5rem;
  }

  #primavera {
    font-size: 1.5rem;
  }

  #digital {
    font-size: 1.25rem;
    font-style: italic;
    color: #fff;
  }
}

/* MISSÃO */

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 150%;
}

.img-mission {
  max-width: 100%;
}

.mission-paragraph {
  text-align: justify;
}
.mission-subtitle {
  color: #252525;
  font-weight: 700;
  text-align: justify;
}

.mission-text {
  color: #7d7d7d;
  margin: 10px;
  text-align: justify;
}

.mission-link {
  color: #0075be;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  text-align: left;
}

.mission-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .mission {
    display: flex;
    flex-direction: column;
  }

  .img-mission {
    margin-bottom: 20px;
  }
}

/* EQUIPA */

.name {
  font-size: 1.25rem;
}

.team {
  text-align: center;
}

.img1 {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.img1 .img-team {
  width: 300px;
  height: auto;
  display: flex;
}

.img1 .name-job {
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  opacity: 0;
}

.img1:hover {
  border-radius: 0;
}

.img1:hover .name-job {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img1 {
    margin-bottom: 20px;
  }
}

/* OFERTA FORMATIVA */

.education {
  position: relative;
}

.slider {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title,
.sub-title,
.text {
  text-align: center;
  line-height: 130%;
}

.title {
  color: #f27f29;
  font-size: 2.625rem;
  font-weight: 700;
}

.sub-title {
  color: #153c85;
  font-size: 2.1875rem;
  font-weight: 700;
}

.text {
  font-size: 1.625rem;
  color: #153c85;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 1.375rem;
  }

  .sub-title {
    font-size: 1rem;
  }

  .text {
    font-size: 1rem;
  }
}
  /* ASIDE */

  #contact {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20%;
    right: 0;
    cursor: pointer;
  }

  #phone-container {
    background-color: #252525;
  }

  #phone {
    padding: 15px;
    margin: 0;
  }

  #phone::before {
    background-color: #252525;
  }

  #phone-number {
    background-color: #252525;
    color: #0acb84;
    padding: 18.5px;
    display: none;
    margin: 0;
  }

  #phone-container:hover + #phone-number {
    display: block;
  }

  #top {
    position: fixed;
    text-align: right;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }

  @media screen and (max-width: 400px) {
    #contact,
    #top {
      display: none;
    }
  }

  /* FOOTER */

  footer {
    background-color: #ebebeb;
    justify-content: center;
    padding: 20px;
    line-height: 150%;
  }

  .footer-heading {
    color: #252525;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .footer-ul {
    flex-basis: 20%;
    cursor: pointer;
  }

  .footer-link {
    color: #7d7d7d;
  }

  .footer-link:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 800px) {
    footer {
      justify-content: flex-start;
    }

    .footer-ul {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
